body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: #EDEBE6;
}

h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 1em;
    line-height: 120%;
    margin: 0;
}

p {
    font-size: 0.75em;
    margin: 0;
}

nav {
    padding: 0.5em;
}

.navcolour {
    background-color: #FFDD2D;
}

.btn {
    background-color: #FFDD2D;
    color: #111111;
    margin: 0.5em 0;
    border-radius: 0.25rem;
    font-size: 24px;
    padding: 0.625em;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav li,
nav h2 {
    display: inline;
    padding: 0.25em;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    padding-top: 2rem;
    background-color: #FFDD2D;
    margin: 0;
}

textarea, 
input {
    border-radius: 0.25rem;
    color: #3c3c3c;
    background-color: #fbfbfb;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
}

textarea {
    resize: vertical;
}
label{
    font-size: 0.75rem;
}

.navbar {
    max-width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: auto;
}

.logo {
    width: 8rem;
}

.content {
    max-width: 60rem;
    padding: 5rem;
    margin: auto;
}
.infosection{
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;

}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.grid-item {
    font-size: 30px;
}

.project {
    width: 100%;
}

.project-content {
    margin: 10% 0;
}

.icon {
    opacity: 80%;
    width: 3.375rem;
    margin: 2rem 0.25rem;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
   
}

.socialmedia-icon{
    width: 2rem;
    ;
    
}


iframe {
    width: 100%;
    border-width: 0;
}

.socialLink {
    text-decoration: underline;
    font-size: 0.75em;
}
.sticky{
    gap:0.75em;
    display: flex;
    flex-flow: column;
    padding: 1em;
    position: fixed;
    background-color: #FFDD2D;
    right:0%;
    top: 70%;
    border-radius: 0.25rem;

}

.copyright {
    padding: 2rem;
    text-align: center;
}
